.leaf {
	grid-area: title;
	padding-block: 0.5rem;
}

.branch {
	align-items: center;
	display: grid;
	grid-template-areas: "title" "children";
	grid-template-columns: 1fr max-content;
	margin: 0;
}

.tree {
	font-size: 4rem;
	grid-area: children;
	inline-size: 100%;
	list-style-type: none;
	padding-inline-start: 0;
}

.tree[data-open="false"] {
	display: none;
}

.branch > .tree {
	padding-inline-start: 2ch;
}

.tree .branch .leaf {
	color: var(--color-neutral-900);
}
