.leaf-label {
	padding: 0;
}

.breadcrumb-list-item {
	display: inline-block;
	list-style-type: none;
	margin-block: 1rem;
}

.breadcrumb-list-item[data-root="false"]::before {
	content: ">";
	display: inline-block;
	inline-size: 3ch;
	text-align: center;
}

.breadcrumb-list {
	display: inline-block;
	font-size: 4rem;
	padding-inline-start: 0;
}

.breadcrumb-trail {
	font-size: 4rem;
	margin-block-end: 6rem;
}
