.card {
	border: var(--border-thin);
	border-radius: var(--radius-sharp);
	padding: 3rem;
}

.card[data-variant="flat"] {
	box-shadow: none;
}

.card[data-variant="low"] {
	box-shadow: var(--shadow-low);
}

.card[data-variant="high"] {
	box-shadow: var(--shadow-high);
}
