@use "@/design-system/_/_typography.module.scss" as typography;

@import "@/design-system/_/_elevation.scss";
@import "@/design-system/_/_palette.scss";

:root {
	--base-size-unit: 4px;
}

html,
body {
	font-family: var(--font-sans);
}

html {
	block-size: 100%;
	font-size: var(--base-size-unit);
	line-height: 1;
}

body {
	@include typography.primary-body();

	background-color: var(--color-neutral-050);
	block-size: 100%;
	color: var(--color-special-coal);
}

* {
	box-sizing: border-box;
	font-weight: normal;
	line-height: inherit;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-inline-size: 100%;
}
