@import "./design-system/_elevation.css";
@import "./design-system/_palette.css";

:root {
	--base-size-unit: 4px;
}

html,
body {
	font-family: var(--font-sans);
	margin: 0;
	padding: 0;
}

html {
	block-size: 100%;
	font-size: var(--base-size-unit);
	line-height: 1;
}

body {
	block-size: 100%;
	font-size: 4rem;
	/* min-block-size: 100%; */
}

* {
	box-sizing: border-box;
	line-height: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}
