@import "@/design-system/_/_elevation.scss";
@import "@/design-system/_/_palette.scss";

:root {
	--base-size-unit: 4px;
}

html,
body {
	font-family: var(--font-sans);
}

html {
	block-size: 100%;
	font-size: var(--base-size-unit);
	line-height: 1;
}

body {
	block-size: 100%;
	font-family: var(--font-sans);
	font-size: 4rem;
	line-height: 5rem;
	/* min-block-size: 100%; */
}

* {
	box-sizing: border-box;
	line-height: inherit;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-inline-size: 100%;
}
