@use "@/design-system/_/_typography.module.scss" as typography;

.introduction {
	@include typography.primary-body();
}

.explore {
	@include typography.secondary-body();
}

.description {
	display: flex;
	flex-direction: column;
	inline-size: 100%;
	gap: 2rem;
	max-inline-size: var(--max-width);
}
