.interactive {
	border-radius: 0;
	border-width: var(--border-width);
	display: inline-block;
	font-family: var(--font-sans);
	font-size: 4rem;
	padding: calc(2rem - var(--border-width));
	text-decoration: none;
}

.interactive[data-variant="inline"] {
	--border-width: 0px;

	background-color: inherit;
	color: #0070f3;
}

.interactive[data-variant="primary"] {
	--border-width: 0px;

	background-color: goldenrod;
	color: black;
}

.interactive[data-variant="secondary"] {
	--border-width: 2px;

	background-color: white;
	border-color: currentColor;
	border-style: solid;
	color: black;
}
