@use "@/design-system/_/_typography.module.scss" as typography;

.swatch {
	--size: 48px;

	block-size: var(--size);
	inline-size: var(--size);
}

.swatch:focus,
.swatch:hover {
	transform: scale(1.1);
}

.caption {
	@include typography.technical();

	text-align: end;
}
