.input {
	--border-width: 1px;

	border: solid var(--border-width) #999999;
	border-radius: var(--radius-none);
	padding: calc(1rem - var(--border-width));
	width: 100%;
}

.input:focus {
	--border-width: 2px;

	border-color: #000000;
}
