.anchor {
	color: inherit;
	font-size: unset;
}

.title {
	font-family: var(--font-mono);
	font-size: 6rem;
	inline-size: 100%;
	margin: 0;
	text-align: center;
}

.tagline {
	font-size: 3rem;
	margin-inline-start: auto;
	transform: rotate(330deg);
}

.site-masthead {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-block-end: 4rem;
}
