:root {
	$stops: (
		"050": 4.5,
		"100": 4,
		"200": 3,
		"300": 2,
		"400": 1,
		"500": 0,
		"600": -1,
		"700": -2,
		"800": -3,
		"900": -4,
		"950": -4.5
	);

	--color-special-coal: lch(0% 0 0);
	--color-special-snow: lch(100% 0 0);
	--color-special-glass: lch(100% 0 0 / 0%);

	/* background, foreground, border, shadow */
	$neutral-step: 10;

	@each $lightness, $stop in $stops {
		--color-neutral-#{$lightness}: lch(
			#{50% + ($neutral-step * $stop)} 6.703 240
		);
	}

	/* errors and warnings */
	$red-step: $neutral-step;

	@each $lightness, $stop in $stops {
		--color-red-#{$lightness}: lch(
			#{50% + ($red-step * $stop)} calc(6.703 + 100) 30
		);
	}

	/* success */
	$green-step: $neutral-step;

	@each $lightness, $stop in $stops {
		--color-green-#{$lightness}: lch(
			#{50% + ($green-step * $stop)} calc(6.703 + 100) 150
		);
	}

	/* information and feedback */
	$blue-step: $neutral-step;

	@each $lightness, $stop in $stops {
		--color-blue-#{$lightness}: lch(
			#{50% + ($blue-step * $stop)} calc(6.703 + 100) 290
		);
	}

	/* tips */
	$yellow-step: 6.5;

	@each $lightness, $stop in $stops {
		--color-yellow-#{$lightness}: lch(
			#{70% + ($yellow-step * $stop)} calc(6.703 + 100) 100
		);
	}

	/* SEE https://caniuse.com/css-relative-colors */
	/* SEE https://caniuse.com/mdn-css_types_color_color-contrast */
	@supports (color: lch(from lch(0% 0 0) l c h)) {
		/* background, foreground, border, shadow */
		--color-neutral-base: lch(50% 6.703 240);
		--color-neutral-step: #{$neutral-step};

		@each $lightness, $stop in $stops {
			--color-neutral-#{$lightness}: lch(
				from var(--color-neutral-base)
					calc(l + (var(--color-neutral-step) * #{$stop}))
					c
					h
			);
		}

		/* errors and warnings */
		--color-red-base: lch(
			from var(--color-neutral-base) l calc(c + 100) 30
		);
		--color-red-step: #{$red-step};

		@each $lightness, $stop in $stops {
			--color-red-#{$lightness}: lch(
				from var(--color-red-base)
					calc(l + (var(--color-red-step) * #{$stop}))
					c
					h
			);
		}

		/* success */
		--color-green-base: lch(
			from var(--color-neutral-base) l calc(c + 100) 150
		);
		--color-green-step: #{$green-step};

		@each $lightness, $stop in $stops {
			--color-green-#{$lightness}: lch(
				from var(--color-green-base)
					calc(l + (var(--color-green-step) * #{$stop}))
					c
					h
			);
		}

		/* information and feedback */
		--color-blue-base: lch(
			from var(--color-neutral-base) l calc(c + 100) 290
		);
		--color-blue-step: #{$blue-step};

		@each $lightness, $stop in $stops {
			--color-blue-#{$lightness}: lch(
				from var(--color-blue-base)
					calc(l + (var(--color-blue-step) * #{$stop}))
					c
					h
			);
		}

		/* tips */
		--color-yellow-base: lch(
			from var(--color-neutral-base) 70% calc(c + 100) 100
		);
		--color-yellow-step: #{$yellow-step};

		@each $lightness, $stop in $stops {
			--color-yellow-#{$lightness}: lch(
				from var(--color-yellow-base)
					calc(l + (var(--color-yellow-step) * #{$stop}))
					c
					h
			);
		}
	}
}
